<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="min-h-screen flex items-center justify-center">
  
@if (starship) {

  <div class="card lg:card-side bg-black border-2 border-gray-600 shadow-md shadow-white max-w-7xl mx-auto p-8">
    <figure>
      <img [src]="'https://starwars-visualguide.com/assets/img/starships/' + starship.url.split('/').slice(-2, -1)[0] + '.jpg'" alt="{{ starship.name }}" />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-3xl">{{ starship.name }}</h2>
      <br>
      <p><strong>Modelo: </strong>{{ starship.model }}</p>
      <p><strong>Fabricante: </strong>{{ starship.manufacturer }}</p>
      <p><strong>Coste en créditos: </strong>{{ starship.cost_in_credits }}</p>
      <p><strong>Longitud: </strong>{{ starship.length }}</p>
      <p><strong>Tripulación: </strong>{{ starship.crew }}</p>
      <p><strong>Velocidad atmosférica: </strong>{{ starship.max_atmosphering_speed }}</p>
      <br>
      <div class="card-actions justify-end">
        <button class="btn bg-transparent border-2 border-cyan-700 text-white hover:text-black hover:border-cyan-700">Más detalles</button>
      </div>
    </div>
  </div>
}

</body>
</html>
