<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <app-navegacion></app-navegacion>

 <div class="flex justify-center items-center">
    <div class="carousel max-w-5xl h-auto mx-auto mt-8 rounded-lg overflow-hidden shadow-lg">
        <div id="slide1" class="carousel-item relative w-full h-full">
            <img src="/assets/img/lego.jpg" class="w-full h-full object-cover" />
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide4" class="btn btn-circle" (click)="navigateToSlide($event, 'slide4')">❮</a>
            <a href="#slide2" class="btn btn-circle" (click)="navigateToSlide($event, 'slide2')">❯</a>
        </div>
      </div>

      <div id="slide2" class="carousel-item relative w-full h-full">
        <img src="/assets/img/halloween.jpeg" class="w-full h-full object-cover" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide1" class="btn btn-circle" (click)="navigateToSlide($event, 'slide1')">❮</a>
          <a href="#slide3" class="btn btn-circle" (click)="navigateToSlide($event, 'slide3')">❯</a>
        </div>
    </div>

      <div id="slide3" class="carousel-item relative w-full h-full">
        <img src="/assets/img/skeleton-crew.webp" class="w-full h-full object-cover" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide2" class="btn btn-circle" (click)="navigateToSlide($event, 'slide2')">❮</a>
          <a href="#slide4" class="btn btn-circle" (click)="navigateToSlide($event, 'slide4')">❯</a>
        </div>
      </div>

      <div id="slide4" class="carousel-item relative w-full h-full">
        <img src="/assets/img/navidad.jpg" class="w-full h-full object-cover" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide3" class="btn btn-circle" (click)="navigateToSlide($event, 'slide3')">❮</a>
          <a href="#slide1" class="btn btn-circle" (click)="navigateToSlide($event, 'slide1')">❯</a>
        </div>
      </div>
    
    </div>
  </div>
  
</body>
</html>
